<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Angular 4 Starter</title>
</head>
<body>
    <app-root>Loading...</app-root>

    <%= htmlWebpackPlugin.files.webpackManifest %>
</body>
</html>
